<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no,width=device-width" />
        <title>算法</title>
        <meta name="author" content="harry"/>
        <meta name="description" content="使用JS实现各种经典算法">
        <script src="util.js"></script>
        <script type="text/javascript" src="vue.js"></script>
        <style>
            .section {
                display: flex;
                justify-content: flex-start;
                margin: 20px;
            }
            .section label {
                width: 120px;
            }
            * {
                font-size: 15px;
            }
        </style>
    </head>
    <body>
        <div id="app">
            <h2>算法</h2>
            <div>
                <form v-on:submit.prevent>
                    <div class="section">
                        <label>原数组</label>
                        <input v-model="origin" type="text" name="origin" placeholder="例：[1, 2, 3]" />
                    </div>
                    <div class="section">
                        <label>排序方法</label>
                        <select v-model="selectedOption" name="options">
                            <option disabled value="">请选择</option>
                            <option value="bubble">冒泡排序</option>
                            <option value="selection">选择排序</option>
                            <option value="insertion">插入排序</option>
                            <option value="merge">归并排序</option>
                        </select>
                    </div>
                    <div class="section">
                        <input @click="sort"  type="submit" value="sort" />
                    </div>
                    <div class="section">
                        <label>结果</label>
                        <input v-model="result" type="text" name="result" placeholder="结果" disabled="disabled" />
                    </div>
                </form>
            </div>
        </div>
        <script>
            var app = new Vue({
                el: "#app",
                data: {
                    origin: "8, 7, 6, 5, 4, 3, 2, 1",
                    result: [],
                    selectedOption: '',
                },
                methods: {
                    sort() {
                        if (!this.selectedOption) {
                            alert("没有选择排序方法!");
                            return;
                        }
                        this.result = this.origin.split(", ").map(item => parseInt(item));
                        eval("this." + this.selectedOption + "()");
                    },
                    merge() {
                        var result = this._mergeSortRec(this.result);
                        return result;
                    },
                    _mergeSortRec(array) {
                        var length = array.length;
                        if (length === 1) {
                            return array;
                        }
                        var that = this;
                            mid = Math.floor(length / 2),
                            left = array.slice(0, mid),
                            right = array.slice(mid, length);
                        return that._merge(that._mergeSortRec(left), that._mergeSortRec(right));
                    },
                    _merge(left, right) {
                        var result = [],
                            il = 0,
                            ir = 0
                            leftLength = left.length,
                            rightLength = right.length;
                        while(il < leftLength && ir < rightLength) {
                            if (left[il] > right[ir]) {
                                result.push(right[ir++]);
                            } else {
                                result.push(left[il++]);
                            }
                        }
                        while(il < leftLength) {
                            result.push(left[il++]);
                        }
                        while(ir < rightLength) {
                            result.push(right[ir++]);
                        }
                        return result;
                    },
                    insertion() {
                        var l = this.result.length,
                            j,
                            temp;
                        for (var i = 1; i < l; i++) {
                            j = i;
                            temp = this.result[i];
                            while (j > 0 && this.result[j - 1] > temp) {
                                this.result[j] = this.result[j - 1];
                                j--;
                            }
                            this.result[j] = temp;
                        }
                    },
                    selection() {
                        var indexMin = 0;
                        for (var i = 0, l = this.result.length; i < l - 1; i++) {
                            indexMin = i;
                            for (var j = i; j < l; j++) {
                                if (this.result[indexMin] > this.result[j]) {
                                    indexMin = j;
                                }
                            }
                            if (i !== indexMin) {
                                this._swap(this.result, indexMin, i);
                            }
                        }
                    },
                    bubble() {
                        var count = 0;
                        for (var i = 0, l = this.result.length; i < l; i++) {
                            count++;
                            for (var j = 0; j < l - i - 1; j++) {
                                count++;
                                if (this.result[j] > this.result[j + 1]) {
                                    this._swap(this.result, j, j+1)
                                }
                            }
                        }
                        console.log("count: " + count);
                    },
                    _swap(array, index1, index2) {
                        var temp = array[index1];
                        array[index1] = array[index2];
                        array[index2] = temp;
                    },
                }
            })
        </script>
    </body>
</html>